{%extends 'base.html' %}
{% load static %}
{%block content%}
    <link rel="stylesheet" href="./static/css/signup.css" type="text/css">
    <div class='main'>
        <div class="signup">
            <div class="title">
                <h2>Sign Up</h2>
            </div>
            {%  if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div> 
            {% endif %}
            <div class="info">
                <form action="{%url 'signup'%}" method="post">
                {% csrf_token %}
                    <input class='input' type="text" placeholder="Name" name='username' required>
                    <br>
                    <input class='input' type="text" placeholder="Email" name='email' required>
                    <br>
                    <input class='input' type="text" placeholder="password" name='password' required>
                    <br>
                    <button name='signup' type="submit">Sign Up</button>
                </form>
            </div>
            <h3 class='already'>Already have an account?<a href="{%url 'login'%}">LogIn</a></h3>
        </div>
    </div>
{%endblock %}