{%extends 'base.html'%}
{% block nav_item_home %}active{% endblock nav_item_home %}
{%load static%}
{%block content%}
<link rel="stylesheet" href="{% static 'css/main.css'%}">

<div class="main" id='menu' data-rellax-speed = '-4'>
    <div class='front-font' id='line' data-aos="fade-right" >
    </div>
    <div class="front-font" data-aos="fade-right"data-aos-offset="100">
        <h1>Artistly</h1>
        <p class='title' data-aos="fade-up" >3D Models, Tutorials and more....</p>
    </div>
    <div class="signup-button" data-aos="fade-left">
    {%if user.is_authenticated%} 
      <a href="{% url 'models' %}">
        <h2>Get Start</h2>
      </a>
    {%else%}
    <a href="{% url 'login' %}">
        <h2>Get Start</h2>
      </a>
    {%endif%}
    </div>
</div>

<div class="second">
  <div class="video-heading" data-aos="fade-right" data-aos-offset="100">
    <h1><a href="{%url 'tutorial'%}">Videos</a></h1>
  </div>
  <div class="videos-container">
    <div class="video" >
    {%for i in video.all %}
      <iframe width="560" height="315" src="{{i.url}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen data-aos="zoom-in"></iframe>
    {%endfor%}
    </div>
  </div>
</div>

<div class="third">
  <div class="models-heading">
  <h1 data-aos="fade-right"><a href="{%url 'models'%}">Models</a></h1>
  </div>
  <div class="models" >
  {%if request.user.is_authenticated %}
  {%else%}
  <p class='alert' data-aos="fade-right">Make sure you are Logged in before downloading models. click on download to get redirected to <a href="{% url 'login' %}">login page</a></p>
  {%endif%}
  {%for j in models.all %}
    <figure>
    {%if request.user.is_authenticated%}
      <a href="{{j.link.url}} " download>
        <img src="{{j.img.url}}" class='image' alt="kfsdajoasdn" data-aos="zoom-in">
      </a>
      <a href="{{j.link.url}}" download class='download' data-aos="zoom-in"><span>Download</span></a>
      <p data-aos="fade-up">
        {{j.title}}
      </p>
    {%else%}
    <a href="{%url 'login'%}">
        <img src="{{j.img.url}}" class='image' alt="kfsdajoasdn" data-aos="zoom-in" >
      </a>
      <a href="{%url 'login'%}" class='download' data-aos="zoom-in" ><span>Download</span></a>
      <p data-aos="fade-up">
        {{j.title}}
      </p>
    {%endif%}
    </figure>
  {%endfor%}
  </div>
</div>

<div class="fourth">
  <div class="about-me" data-aos="fade-right">
    <h1>About Me</h1>
  </div>
  <div class="about-content">
    <img src= "{% static 'images/profile_pic.png'%}" data-aos="zoom-in">
    <h2 data-aos="fade-up">Dushant Panchbhai</h2>
    <p data-aos="fade-up">
    Wondering what this website is about? Hey there, I am glad you visit my website. This is Dushant Panchbhai. I am a 3D Artist and a Web Developer, passionate about learning more about 3D Art and Visual Effects and sharing all the knowledge I have with others. This website is my small initiative to share all my model files and videos in one place. Check out my social handles to know more about me. Also do Subscribe to my YOUTUBE channel Artistly ;). Thank You!
    </p>
    <div class="social">
    <p data-aos="zoom-in">
    Follow Me on:
    </p>
    <a href='https://www.instagram.com/dushant.73/' target="_blank">
        <img src="{% static 'images/instagram.png' %}" data-aos="zoom-in" data-aos-delay="50">
      </a>
      <a href='https://www.facebook.com/dushant.panchbhai.9/' target="_blank">
        <img src="{% static 'images/facebook.png' %}" data-aos="zoom-in" data-aos-delay="150">
      </a>
      <a href='https://www.youtube.com/channel/UCW15y5uBetmTJIZcc7oTlbA' target="_blank" >
        <img src="{% static 'images/youtube.png' %}" data-aos="zoom-in" data-aos-delay="300">
      </a>
      <a href='https://www.linkedin.com/in/dushant-panchbhai-b799081b7/' target="_blank" >
        <img src="{% static 'images/linkdien.png' %}" data-aos="zoom-in" data-aos-delay="360">
      </a>
      <a href='https://github.com/dushantpanchbhai' target="_blank">
        <img src="{% static 'images/github.png' %}" data-aos="zoom-in" data-aos-delay="450">
      </a>
      
      
    </div>
  </div>
  <div class="footer">
    <p data-aos="zoom-in" data-aos-offset='0'>
      &#169; Artistly 2021
    </p>
  </div>
</div>
{%endblock %}