{%extends 'base.html'%}
{%load static%}
 

{%block content%}
<link rel="stylesheet" href="{% static 'css/main.css'%}">

<div class="main" id='menu' data-rellax-speed = '-4'>
    <!--
    <img id='background' src="./pexels-daniel-putzer-633409.jpg" alt="">
    -->
    <div class='front-font' id='line'>
    </div>
    <div class="front-font">
        <h1>Artistly</h1>
    </div>
    <div class="signup-button">
      <h2>Get Start</h2>
    </div>
</div>

<div class="second">
  <div class="video-heading">
    <h1>Videos</h1>
  </div>
  <div class="videos-container">
    <div class="video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/-Hn41mp3qH0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/-Hn41mp3qH0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/-Hn41mp3qH0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/-Hn41mp3qH0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/-Hn41mp3qH0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/-Hn41mp3qH0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div class="third">
  <div class="models-heading">
    <h1>Models</h1>
  </div>
  <div class="models">
    <figure>
      <a href="images/model1.jpg">
        <img src="{% static 'images/model1.jpg' %}" class='image'>
      </a>
      <a href="#" class='download'><span>Download</span></a>
      <p>MKBHD STUDIO ajksfnpo ipuidf nuid fnidsa fsdaif nisdauu nfusai fsiudn f
        i dsiuf niusd uids nius dusda fnidsa iasdu
        s dinudnsf MKBHD STUDIO ajksfnpo ipuidf nuid fnidsa fsdaif nisdauu nfusai fsiudn f
        
      </p>
    </figure>
    <figure>
      <a href="images/model1.jpg">
        <img src= "{% static 'images/model1.jpg' %}" class='image'>
      </a>
      <a href="#" class='download'><span>Download</span></a>
      <p>MKBHD STUDIO ajksfnpo ipuidf nuid fnidsa fsdaif nisdauu nfusai fsiudn f
        i dsiuf niusd uids nius dusda fnidsa iasdu
        s dinudnsf 
      </p>
      
    </figure>
    <figure>
      <a href="images/model1.jpg">
        <img src="{% static 'images/model1.jpg' %}" class='image'>
      </a>
      <a href="#" class='download'><span>Download</span></a>
      <p>MKBHD STUDIO ajksfnpo ipuidf nuid fnidsa fsdaif nisdauu nfusai fsiudn f
        i dsiuf niusd uids nius dusda fnidsa iasdu
        s dinudnsf 
      </p>
      
    </figure>
  </div>
</div>

<div class="fourth">
  <div class="about-me">
    <h1>About Me</h1>
  </div>
  <div class="about-content">
    <img src= "{% static 'images/photo.png'%}">
    <h2>Dushant Panchbhai</h2>
    <p>
      Hey there, This is Dushant Panchbhai. I am a 3D artist and a web developer. Currently I am pusuing B.Tech from VJTI Mumbai. checkout my git account to get to know various projects i have done till now. 
    </p>
    <div class="social">
      <a href='#'>
        <img src="{% static 'images/facebook.png' %}">
      </a>
      <a href='#'>
        <img src="{% static 'images/instagram.png' %}">
      </a>
      <a href='#'>
        <img src="{% static 'images/github.png' %}">
      </a>
      <a href='#'>
        <img src="{% static 'images/twitter.png' %}">
      </a>
    </div>
  </div>
  <div class="footer">
    <p>
      &#169; Dushant Panchbhai 2021
    </p>
  </div>
</div>
{%endblock %}