{%extends 'base.html'%}
{%load static%}
 

{%block content%}
<link rel="stylesheet" href="{% static 'css/main.css'%}">

<div class="main" id='menu' data-rellax-speed = '-4'>
    <!--
    <img id='background' src="./pexels-daniel-putzer-633409.jpg" alt="">
    -->
    <div class='front-font' id='line'>
    </div>
    <div class="front-font">
        <h1>Artistly</h1>
    </div>
    <div class="signup-button">
      <h2>Get Start</h2>
    </div>
</div>

<div class="second">
  <div class="video-heading">
    <h1><a href="{%url 'tutorial'%}">Videos</a></h1>
  </div>
  <div class="videos-container">
    <div class="video">
    {%for i in video.all%}
      <iframe width="560" height="315" src="{{i.url}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    {%endfor%}
    </div>
  </div>
</div>

<div class="third">
  <div class="models-heading">
  <h1><a href="{%url 'models'%}">Models</a></h1>
  </div>
  <div class="models">
  {%for j in models.all %}
    <figure>
    {%if request.user.is_authenticated%}
      <a href="{{j.link.url}} " download>
        <img src="{{j.img.url}}" class='image' alt="kfsdajoasdn">
      </a>
      <a href="{{j.link.url}}" download class='download'><span>Download</span></a>
      <p>
        {{j.title}}
      </p>
    {%else%}
    <a href="{%url 'login'%}">
        <img src="{{j.img.url}}" class='image' alt="kfsdajoasdn">
      </a>
      <a href="{%url 'login'%}" class='download'><span>Download</span></a>
      <p>
        {{j.title}}
      </p>
    {%endif%}
    </figure>
  {%endfor%}
  </div>
</div>

<div class="fourth">
  <div class="about-me">
    <h1>About Me</h1>
  </div>
  <div class="about-content">
    <img src= "{% static 'images/photo.png'%}">
    <h2>Dushant Panchbhai</h2>
    <p>
      Hey there, This is Dushant Panchbhai. I am a 3D artist and a web developer. Currently I am pusuing B.Tech from VJTI Mumbai. checkout my git account to get to know various projects i have done till now. 
    </p>
    <div class="social">
    <p>
    Follow Me on:
    </p>
      <a href='http://www.facebook.com/' >
        <img src="{% static 'images/facebook.png' %}">
      </a>
      <a href=''>
        <img src="{% static 'images/instagram.png' %}">
      </a>
      <a href=''>
        <img src="{% static 'images/github.png' %}">
      </a>
      <a href='' >
        <img src="{% static 'images/twitter.png' %}">
      </a>
    </div>
  </div>
  <div class="footer">
    <p>
      &#169; Dushant Panchbhai 2021
    </p>
  </div>
</div>
{%endblock %}