{%extends 'base.html'%}
{%load static%}

{%block content%}
{#  <link rel="stylesheet" href="../static/css/models.css"> #}
<link rel="stylesheet" href="{%static 'css/models.css'%}">
<div class='main'>
    <div class='heading'>
        <h1>Models<h1>
    </div>
    <div class='models-content'>
        <div class='models'>
            <img src="../static/images/model1.jpg" />
              <div class="para">
                <p>this is the destop model i have made in blender. hope you like it. subscribe and download it for free. dfjniasd bnabdhjkjnjfvnjk ndakdvjnadjvnjkadnvka jdnjdkankavn</p>
              </div>
            <br>
              <div class="button-class">
                <a>
                  <button name='signup' type="submit" >Download</button>
                </a>
              </div>
        </div>

        <div class='models'>
          <img src="../static/images/model1.jpg" />
            <div class="para">
              <p>this is the destop model i have made in blender. hope you like it. subscribe and download it for free. dfjniasd bnabdhjkjnjfvnjk ndakdvjnadjvnjkadnvka jdnjdkankavn</p>
            </div>
          <br>
            <div class="button-class">
              <a>
                <button name='signup' type="submit" >Download</button>
              </a>
            </div>
      </div>

      <div class='models'>
        <img src="../static/images/model1.jpg" />
          <div class="para">
            <p>this is the destop model i have made in blender. hope you like it. subscribe and download it for free. dfjniasd bnabdhjkjnjfvnjk ndakdvjnadjvnjkadnvka jdnjdkankavn</p>
          </div>
        <br>
          <div class="button-class">
            <a>
              <button name='signup' type="submit" >Download</button>
            </a>
          </div>
    </div>

    <div class='models'>
      <img src="../static/images/model1.jpg" />
        <div class="para">
          <p>this is the destop model i have made in blender. hope you like it. subscribe and download it for free. dfjniasd bnabdhjkjnjfvnjk ndakdvjnadjvnjkadnvka jdnjdkankavn</p>
        </div>
      <br>
        <div class="button-class">
          <a>
            <button name='signup' type="submit" >Download</button>
          </a>
        </div>
  </div>

  <div class='models'>
    <img src="../static/images/model1.jpg" />
      <div class="para">
        <p>this is the destop model i have made in blender. hope you like it. subscribe and download it for free. dfjniasd bnabdhjkjnjfvnjk ndakdvjnadjvnjkadnvka jdnjdkankavn</p>
      </div>
    <br>
      <div class="button-class">
        <a>
          <button name='signup' type="submit" >Download</button>
        </a>
      </div>
</div>
    </div>
</div>
{% endblock %}
        





