.navbar-nav
{
    margin-left: auto;
}

#buttonright
{
    background-color: #2792e9;
    font-family: sans-serif;
    border-radius: 3px;
    border: none;
    color: white;
}

.main
{
    background-image:url('../images/signup_1.jfif');
    width: 100% !important;
    height: 700px;
    background-size: cover;
    background-position: center center;
    text-align: center;
}

.login
{
    width: 30%;
    background-color: rgba(36, 34, 34, 0.794);
    border: none;
    border-radius: 10px;
    position: relative;
    left: 34.2%;
    top: 80px;
    text-align: center;
}

.title {
    padding-top: 30px;
    padding-bottom:30px;
    color: whitesmoke;
    position: relative;
}

.title h2
{
    font-family: sans-serif;
}

.info
{
    text-align: center;
}

.info form
{
    text-align: center;
}

.info form input
{
    width: 50%;
    margin-bottom: 20px;
    border: none;
    border-radius: 20px;
    padding:10px;
    padding-left: 10px;
}

.info form button
{
    margin-top:10px;
    margin-bottom:20px;
    border: none;
    border-radius:20px;
    padding:10px 10px 10px;
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
}

.info form:hover button:hover
{
    color: whitesmoke;
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    transition: .2s ease-in-out;
}

.login span
{
    margin-top:20px;
    text-align: center;
    color: white;
}
.social
{
    word-spacing: 10px;
    padding-top:20px;
    text-decoration: none;
}
.social a
{
    text-decoration: none;
}
.social img
{
    width: 30px;
}

.already
{
    padding: 50px;
    font-family: sans-serif;
    color: whitesmoke;
    font-size:15px;
    text-align: center;
}

.footer
{
    text-align: center;
    position: relative;
    bottom: -150px;
    color: rgba(255, 255, 255, 0.835);
}

@media screen and (max-width: 768px)
{
    .main
    {
        height: 670px;
    }
   .login{
    width: 70%;
    left: 14.5%;
    top: 40px;
   }

   .info form input {
       width: 80%;
       border-radius:30px;
   }
   .footer
    {
        padding-top: 40px;
        text-align: center;
        position: relative;
        bottom: -40px;
        color: rgba(255, 255, 255, 0.835);
    }

}

